<!DOCTYPE html>
    <html>
        <head>
            <title>Hypertube</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="/stylesheets/style.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        </head>
        <body>
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand navcolor" href="/">Hypertube</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <% if (!currentUser) { %>
                            <li><a class="navcolor" href="/signup">Sign Up</a></li>
                            <%} else { %>
                            <li><a class="navcolor" href="/users">All users</a></li>
                            <li><a class="navcolor" href="/library">Library</a></li>
                            <li><a class="navcolor" href="/users/<%= currentUser._id.toString() %>"><%= currentUser.firstName %></a></li>
                            <li><a class="navcolor" href="/signout">Sign Out</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="body">
