<% include ./partials/header.ejs %>


<div id="backgroundHome">
    <div class="page header">
        <h1 class="text-center">Welcome to Hypertube</h1>
    </div>
    <div class="container home_container">
        <div class="row">
            <div class="col-md-6">
                <div class="backgroundDetails">
                    <h1 id="backgroundTitle" class="title"></h1>
                    <p id="backgroundContent"></p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <%
            var details = [];

            if (success.length > 0) {%>
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <strong><%= success %></strong>
                    <%  if (info.length > 0){
                        details = info.toString().split("/"); %>
                    <ul>
                        <%  details.forEach(function (message) {
                        if(message != ""){%>
                        <li><%= message %></li>
                        <%}
                        })%>
                    </ul>
                    <% }%>
                </div>
            </div>
            <% }

             if (error.length > 0) {%>
            <div class="container">
                <div class="alert alert-danger">
                    <strong><%= error %></strong>
                    <%  if (info.length > 0){
                        details = info.toString().split("/"); %>
                    <ul>
                        <%  details.forEach(function (message) {
                        if (message != ""){%>
                        <li><%= message %></li>
                        <%      }
                        })%>
                    </ul>
                    <% }%>
                </div>
            </div>
            <% }%>

            <% if (!currentUser) { %>
            <div class="col-md-4 sign_in">
                <h2 class="text-center">Sign In</h2>
                <form action="/" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
                <a href="/forgot_pwd">Forgot your password ?</a>
                <hr>
                <div>
                    <h3>Connection with :</h3>
                    <img src="/icons/42.png">
                    <a href="/authFacebook"><img src="/icons/facebook.png"></a>
                    <img src="/icons/google.png">
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>