<% include ./partials/header.ejs %>

<div id="backgroundProfile">
    <div class="page header">
        <h1 class="text-center">User Profile</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center backgroundProfile">
                    <img class="img-circle" src="/img/Dwight.jpg">
                    <h2>Dwight Schrute</h2>
                </div>
                <div>
                    <h4 class="well">About</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div>
                    <h4 class="well">Favorite Movies</h4>
                    <ul>
                        <li>Test</li>
                        <li>Truc</li>
                        <li>Check</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>