<% include ./partials/header %>

<h1 class="ui center aligned header" style="color: #FFFFFF">
    Welcome to Matcha
</h1>
<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="/menu_script.js"></script>

<% include ./partials/footer %>
